*/__pycache__
*.pt
*.pth
*.pyth
*.pyc
*.zip
data/
.venv
*.jpg
*.log
*.lock
*.pkl
src/runs/
src/experiments/
src/media/
src/weights/
src/wandb/
src/preprocessed/
src/que/Server.json
src/que/Runs.json
src/que/old_ques/
src/que/experiments
.vscode/
./.vscode/


